@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --main-color: #19c8fa;
    --salem-color: rgb(15 116 143/70%);
    --gomaa-color: rgb(0 0 0 / 40%);
    --fathy-salem: 100px;
    --section-padding: 100px
}


/* start global rules */

body {
    font-family: 'El Messiri', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* end global rules */


/* start component */

.siction {
    padding: 100px;
}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}


/* end component */


/* start header */

body {
    background-color: #123;
}

header {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

.logo img {
    height: 40px;
}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header .container nav .toggle-menu {
    font-size: 25px;
    color: white;
}

@media(min-width:768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

header .container nav ul {
    display: flex;
    align-items: center;
}

@media(max-width:767px) {
    header .container nav ul {
        display: none;
    }
}

header .container nav ul a {
    padding: 40px 20px;
    display: inline-block;
    color: white;
    font-size: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-weight: 500;
}

@media(max-width:767px) {
    header .container nav .toggle-menu:hover+ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        width: calc(100% + 500px);
        background-color: #111;
        right: 0;
    }
    header .container nav ul a {
        padding: 10px;
        width: 100%;
    }
}

header .container nav ul a:hover,
.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container nav .form {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    border-left: 1px solid white;
}

header .container nav .form i {
    position: absolute;
    color: white;
    font-size: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


/* end header */